/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* Menú lateral derecho con íconos */
nav {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    background: #333;
    padding: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #ffcc00;
}

/* Sección de contenido principal */
section {
    text-align: center;
}

section h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

section h1 span {
    color: #ffcc00;
}

section p {
    font-size: 1.5rem;
    margin-top: 20px;
}

.icon-home, .icon-user, .icon-briefcase, .icon-mail {
    font-size: 2rem;
    color: white;
}

/* Fondo de partículas */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/background.jpg') no-repeat center center/cover;
    opacity: 0.15;
    z-index: -1;
}

img {
    border-radius: 50%;
}

/* Añade tus estilos existentes aquí */

header {
    text-align: center;
    margin: 20px 0;
}

header h1 {
    font-size: 3em;
    color: #FFFF00;
    margin: 50;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.project-list {
    flex: 1;
    margin-right: 20px;
}

.project-item {
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #00FFFF;
    border-radius: 8px;
    padding: 10px;
    background-color: #00FFFF;
}

.project-item.active {
    background-color: #333;
}

.project-info {
    flex: 2;
    border: 1px solid #333;
    border-radius: 8px;
    padding: 10px;
    background-color: #FFFF;
    display: none;
}

.project-info img {
    max-width: 100%;
    border-radius: 8px;
}

.project-info h2 a {
    text-decoration: none;
    color: #333;
}

.project-info.active {
    display: block;
}

/* Añade más estilos aquí si es necesario */


p {
    color: #f9f9f9;
}

h2 {
    color: #121212;
}

.description {
    color: #121212; /* Color personalizado para el párrafo específico */
}

/* Estilos para los iconos de redes sociales */
.social-icon {
    font-size: 2rem; /* Ajusta el tamaño de los iconos aquí */
    margin: 0 10px; /* Espacio entre los iconos */
    display: inline-block;
    text-align: center;
    width: 50px; /* Ancho del fondo */
    height: 50px; /* Altura del fondo */
    line-height: 50px; /* Alineación vertical del icono */
    border-radius: 50%; /* Hace el fondo redondo */
    background-color: #333; /* Color de fondo, cámbialo según tus preferencias */
    color: inherit; /* Mantiene el color original del icono */
    transition: background-color 0.3s, color 0.3s; /* Efecto de transición para el hover */
    text-decoration: none; /* Quita el subrayado del enlace */
}

.social-icon:hover {
    background-color: #555; /* Color de fondo cuando se pasa el ratón */
    color: #fff; /* Color del icono cuando se pasa el ratón */
}

/* Colores específicos para cada red social */
.social-icon.facebook {
    color: #3b5998; /* Color del icono para Facebook */
}

.social-icon.github {
    color: #fff; /* Color del icono para GitHub, en contraste con el fondo */
    background-color: #333; /* Color de fondo para GitHub, debe contrastar con el icono blanco */
}

.social-icon.instagram {
    color: #e4405f; /* Color del icono para Instagram */
}
